@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Jersey+10&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Jersey+10&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #35afa0;
  --color-secondary: #3e445a;
  --color-buttonBackground: #233a95;
  --color-red: #d51243;
  --color-star: #ffcd00;
  --color-heading: #202435;
  --color-subHeading: #9b9bb4;

  --font-body: "Dosis", sans-serif;
  --font-logo: "Jersey 10", sans-serif;
  --font-subHeading: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --text-standard: 14px;
  --section-margin: 30px;
}

@utility section-container {
  @apply container mx-auto px-[15px];
}

@utility social-media {
  @apply text-white flex items-center gap-6 py-2 px-4 rounded-sm sm:w-[270px] h-[42px];
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.animate-slide-down {
  animation: slide-down 0.3s ease-out;
}
.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}
.animate-slide-right {
  animation: slide-right 0.3s ease-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}
